body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/* main container */

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    height: 1319px;
    background: #fff;
    margin: 40px auto;
}

.main-content-container{
    padding: 100px 90px;
}

.main-content-titles {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: black;
    margin-bottom: 10px;
}

/* about me container */
.about-me-container {
    margin: 0 0 40px 0;      
}

.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 20px 0;
}

.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: black;
    margin: 20px 0 25px 0;
}

.about-me-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin: 0 0 25px 0;
    width: 400px;
}

/* my projects container */

.my-projects-container {
    margin-bottom: 50px;
}

.my-projects-list {
    padding: 0 0 0 17px;
}

.projects-item {
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.projects-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-decoration: none;
}

.projects-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 10px;
}

.projects-bracket {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: black;
}

/* my work experience */

.my-work-experience-company {
    color: #FB6D3A;
}

.my-work-experience-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: black;
    margin: 0 0 10px 0;
}

.my-work-experience-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}

.divider {
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.my-work-experience-list {
    padding: 0 0 0 18px;
}

.my-work-experience-list-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-work-experience-place {
    margin: 0 15px 0 0;
}

/* my education */

.my-education-university {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 0 0 10px 0;
}

.my-education-program {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 10px 0;
}

.my-education-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}

/* sidebar container */

.sidebar-container {
    background: #1E2939;
    width: 370px;
    padding: 0 0 40px 0px;  
}

.sidebar-titles {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}

.profile-picture {
    width: 370px;
    height: 490px;
}

/* contacts container */

.contacts-container {
    margin: 50px 0px 0px 40px;
}

.contacts-container-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 5px;
}

.contacts-container-link {
    
    color: #565e6a;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

/* skills container */

.skills-list {
    color: #fff;
    padding-left: 17px;
}

.skills-list-item {
     color: #FB6D3A;
}

.skills-list-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.tech-skills-container {
    margin: 50px 0px 0px 40px;
}

.soft-skills-container {
    margin: 50px 0px 0px 40px;
}